/* .table-content-div {
  background-color: #f4f4f4 !important;
  border: none;
  padding: 6px !important;
  border-radius: 4px !important;
  box-shadow: 1px #5a5a5a;
  display: flex;
  justify-content: start;
} */
::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

::-webkit-scrollbar-track-piece {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background: #dddddd;
  border-radius: 20px;
}

.user-info-box .box-content-wrapper,
.qoutes-box .box-content-wrapper {
  height: 260px;
}

.page-gutter {
  padding: 0 85px 0px 15px;
}

.inside-table {
  max-height: 38vh;
  overflow: auto;
}

.inside-table .ant-table-thead>tr>th {
  position: sticky !important;
  top: 0;
  z-index: 1;
}

:where(.css-dev-only-do-not-override-1e3x2xa).ant-table-wrapper .ant-table-tbody>tr>td {
  padding: 5px !important;
  text-align: center;
}

.inside-table::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 20px;
  background-color: #ffffff;
}

.inside-table::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background: #ccc;
  margin-left: -15px;
}

.issue-date-column {
  color: #002650 !important;
  font-weight: 600;
}

.maturity-column {
  color: #002650 !important;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center !important;
}

.table-all-title {
  color: #002650;
  font-weight: 700;
  font-size: 11px;
  vertical-align: middle;
  font-family: 'Montserrat';
}

.bid-text-button {
  padding: 2px 8px !important;
  font-size: 13px;
  text-align: center;
  background: linear-gradient(to bottom, #64c0ef 0%, #087f99 100%);
  color: white;
  border: none;
  border-radius: 2px !important;
}

.offer-text-button {
  padding: 2px 8px !important;
  font-size: 13px;
  text-align: center;
  background: linear-gradient(to bottom, #f8ae58 0%, #c64309 100%);
  color: white;
  border: none;
  border-radius: 2px !important;
}

.table-upper-tbill-button-notActive,
.table-upper-tbill-button-notActive:hover {
  padding: 4px 8px;
  width: 100%;
  font-size: 14px !important;
  border-radius: 3px;
  font-weight: 600;
  background-color: #e5e8ff;
  color: #002650 !important;
  border: none;
}

.table-upper-tbill-button-active {
  padding: 4px 8px;
  width: 100%;
  font-size: 14px !important;
  border-radius: 3px;
  font-weight: 600;
  background: linear-gradient(to bottom, #5b67cd 0%, #2a38af 100%);
  color: white !important;
  border: none;
}

.table-upper-PIB-button-notActive,
.table-upper-PIB-button-notActive:hover {
  padding: 4px 8px;
  width: 100%;
  font-size: 14px !important;
  border-radius: 3px;
  font-weight: 600;
  background-color: #e5e8ff;
  color: #002650 !important;
  border: none;
}

.table-upper-PIB-button-active {
  padding: 4px 8px;
  width: 100%;
  font-size: 14px !important;
  border-radius: 3px;
  font-weight: 600;
  background: linear-gradient(to bottom, #5b67cd 0%, #2a38af 100%);
  color: white !important;
  border: none;
}

.table-upper-Floater-button-notActive,
.table-upper-Floater-button-notActive:hover {
  padding: 4px 8px;
  width: 100%;
  font-size: 14px !important;
  border-radius: 3px;
  font-weight: 600;
  background-color: #e5e8ff;
  color: #002650 !important;
  border: none;
}

.table-upper-Floater-button-active {
  padding: 4px 8px;
  width: 100%;
  font-size: 14px !important;
  border-radius: 3px;
  font-weight: 600;
  background: linear-gradient(to bottom, #5b67cd 0%, #2a38af 100%);
  color: white !important;
  border: none;
}

.table-upper-SUKUK-button-notActive,
.table-upper-SUKUK-button-notActive:hover {
  padding: 4px 8px;
  width: 100%;
  font-size: 14px !important;
  border-radius: 3px;
  font-weight: 600;
  background-color: #e5e8ff;
  color: #002650 !important;
  border: none;
}

.table-upper-SUKUK-button-active {
  padding: 4px 8px;
  width: 100%;
  font-size: 14px !important;
  border-radius: 3px;
  font-weight: 600;
  background: linear-gradient(to bottom, #5b67cd 0%, #2a38af 100%);
  color: white !important;
  border: none;
}

.upper-div-button {
  padding: 2px 10px;
  display: flex !important;
  justify-content: start;
  gap: 5px;
  align-items: center;
  margin-top: 10px;
}

.upper-3m-button {
  padding: 4px 10px;
  border-radius: 3px;
  font-size: 15px;
  font-weight: 600;
  background-color: #e5e8ff;
  color: #002650 !important;
  border: none;
  margin-right: 10px;
}

.upper-3m-button:active,
.upper-3m-button:hover,
.upper-3m-button:focus {
  padding: 4px 10px;
  border-radius: 3px;
  font-size: 15px;
  font-weight: 600;
  background: linear-gradient(to bottom, #5b67cd 0%, #2a38af 100%);
  color: #ffffff !important;
  border: none;
  margin-right: 10px;
}

.upper-3m-colum {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 0px;
}

.upper-date-time {
  color: #888b8e;
  font-size: 13px;
  font-weight: 500;
  margin-right: 10px;
}

.filter-chevron-icon-client {
  color: #002650 !important;
  float: center !important;
}

.dowjones-columns {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 18px;
}

.second-row {
  background-color: #ffffff !important;
  border-radius: 4px;
  /* height: 350px; */
  /* padding: 2px; */
  /* top: 20px; */
}

.latest-date {
  color: #002650;
  font-size: 14px;
  font-weight: 700;
}

.latest-date-row {
  padding: 0px 10px;
  margin-top: 10px;
  background-color: #f4f4f4;
}

.dj-jones-text {
  font-weight: 600 !important;
  font-size: 13px;
  font-family: "Montserrat", sans-serif !important;
}

.date-dj-jone {
  color: #888b8e !important;
  font-size: 13px;
  font-weight: 600;
}

.text-border-bottom {
  border-bottom: 1px solid rgb(226, 226, 226);
  padding: 0px 0px;
  margin: 0;
}

.bottom-table-container {
  background-color: #f4f4f4;
  position: absolute;
  padding: 0px 6px;
  width: 100% !important;
}

.txn-background {
  background: #002650;
  color: white;
}

.bottom-table-buttons {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 5px;
}

.rfq-bttom-btn {
  padding: 5px 25px;
  border-radius: 4px;
  background: linear-gradient(to bottom, #f8ae58 0%, #f76729 100%);
  border: none;
  color: white;
}

.export-bttom-btn {
  font-size: 14px !important;
  padding: 7px 24px !important;
  font-weight: 500;
  border-radius: 4px;
  background: linear-gradient(to bottom, #f8ae58 0%, #f76729 100%);
  border: none;
  color: white;
}

.export-bttom-btn:is(:hover, :focus) {
  background: linear-gradient(to bottom, #5b67cd 0%, #2a38af 100%) !important;
}

.date-insde {
  padding: 10px 20px;
}

.text-field {
  display: flex;
  justify-content: center;
  align-items: center !important;
  gap: 25px;
  padding: 10px 0px;
}

.modal-styles .modal-content {
  position: absolute;
  top: 0 !important;
  height: 430px !important;
  width: 800px !important;
  background-color: #e6e8ff;
  border-radius: 8px !important;
  display: flex !important;
  justify-content: center !important;
  border: 1px solid #002650 !important;
  padding: 30px 22px;
}

.modal-view .modal-content {
  height: 460px !important;
  width: 700px !important;
  background-color: #ffffff;
  border: none !important;
  display: flex !important;
  /* align-items: center !important; */
  justify-content: center !important;
  padding: 10px 15px;
  margin-left: 10%;
}

.modal-title-trade {
  font-size: 12px !important;
  font-weight: 600 !important;
}

.text-field-size-modal {
  width: 100% !important;
  height: 27px;
  border-radius: 4px;
}

.header-Video-Modal-close-btn {
  font-size: 11px;
  border: none !important;
  position: absolute;
  right: 0px;
  top: 15px;
  font-size: 9px;
}

.modal-footer-confirm {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  margin-top: 20px;
}

.buy-modal-footer-confirm {
  display: flex !important;
  justify-content: flex-end !important;
  align-items: center !important;
  margin-top: 20px;
}

.conifrm-btn {
  padding: 7px 30px;
  font-size: 14px;
  border-radius: 4px;
  font-weight: 600;
  background: linear-gradient(to bottom, #5b67cd 0%, #2a38af 100%);
  color: white !important;
  border: none;
}

.request-quote-label {
  font-size: 22px;
  letter-spacing: 1px;
  font-weight: 600;
  color: #002650;
}

.buy-quote-label {
  font-size: 18px;
  letter-spacing: 0.5px;
  font-weight: 600;
  color: #002650;
}

.tableFilter .ant-select-selector {
  background: #ffe4ce !important;
  border: none !important;
  border-radius: 4px !important;
  width: 180px !important;
  height: 29px !important;
  color: #002650 !important;
  font-weight: 600 !important;
  font-size: 14px;
  /* margin-left: 12px; */
}

.tableFilter .ant-select-arrow {
  color: #002650 !important;
}

.rc-virtual-list-holder {
  background-color: #e5e8ff !important;
  border: none !important;
  max-height: 256px;
  overflow-y: hidden;
  overflow-anchor: none;
}

:where(.css-dev-only-do-not-override-1e3x2xa).ant-select-dropdown .ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
  color: rgb(255 255 255 / 88%) !important;
  border-radius: 0px !important;
  font-weight: 600;
  background-color: #004990 !important;
  border-bottom: 1px solid #ccc !important;
}

/* .rc-virtual-list-holder:focus,
.rc-virtual-list-holder:active,
.rc-virtual-list-holder:focus-visible {
  background-color: #2a38af !important;
  color: white !important;
  border-bottom: 1px solid #ccc !important;
} */

/* .NewsFilter .ant-select-selector {
  background: #ffe4ce !important;
  border: none !important;
  border-radius: 3px !important;
  width: 180px !important;
  height: 29px !important;
  color: #002650 !important;
  font-weight: 600 !important;
  margin-left: 10px;
}

.NewsFilter .ant-select-arrow {
  color: #002650 !important;
} */

:where(.css-dev-only-do-not-override-1wazalj).ant-select-single.ant-select-open .ant-select-selection-item {
  color: #002650 !important;

}

:where(.css-dev-only-do-not-override-1wazalj).ant-select:not(.ant-select-disabled):not(.ant-select-customize-input):not(.ant-pagination-size-changer):hover .ant-select-selector {
  outline: 0 !important;
  box-shadow: none !important;
}

.ant-select-focused:where(.css-dev-only-do-not-override-1wazalj).ant-select:not(.ant-select-disabled):not(.ant-select-customize-input):not(.ant-pagination-size-changer) .ant-select-selector {
  box-shadow: none !important;
}

.card-box {
  background: #ffffff;
  border-radius: 4px;
  height: 350px;
  overflow: hidden;
}

.box-header {
  padding: 5px 0px;
}

/* .News-div-scroll {
  margin-top: 10px;
  max-height: 43vh;
  overflow: auto !important;
  overflow-x: hidden !important;
}

.News-div-scroll::-webkit-scrollbar {
  width: 0.5rem;
  border-radius: 20px;
  background-color: #ffffff;
}

.News-div-scroll::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background: #ccc;
  margin-left: -15px;
} */

.bottom-container-div {
  background-color: white !important;
  padding: 0.5px 10px;
  width: 100% !important;
  border-radius: 4px;
  margin-top: 10px;
}

/* .filter-color {
  font-weight: 600 !important;
  font-size: 20px;
  border-bottom: 1px solid #5a5a5a !important;
  border-radius: 0px !important;
} */

.txn-summary {
  font-size: 20px;
  font-weight: 600;
  color: #002650 !important;
}

.bottom-inside-table {
  max-width: 100vw;
  overflow: auto !important;
  overflow-y: hidden;
  border-radius: 0px !important;
}

/* .bottom-inside-table::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 20px;
  background-color: #ffffff;
}

.bottom-inside-table::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background: #ccc;
  margin-left: -15px;
} */

.bottom-inside-table th.ant-table-cell {
  color: #ffffff !important;
  border-radius: 0% !important;
  background: linear-gradient(to bottom, #5b67cd 0%, #2a38af 100%) !important;
}

.filtericon-bottom {
  color: #ffffff !important;
  float: center !important;
}

.column-boldness {
  font-size: 11px !important;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif !important;
}

.ant-select-selection-item {
  font-weight: 600 !important;
}

.bottom-table-header {
  font-weight: 700 !important;
}

.remove-gutterx-space {
  --bs-gutter-x: 0.5rem !important;
}

.view-modal-height-scroll {
  max-height: 43vh;
  overflow: auto !important;
  overflow-x: hidden !important;
}

.view-modal-height-scroll::-webkit-scrollbar {
  width: 0.5rem;
  border-radius: 20px;
  background-color: #ffffff;
}

.view-modal-height-scroll::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background: rgb(228, 228, 228);
  margin-left: -15px;
}

.viewFooter {
  width: 100% !important;
  display: contents;
  border: none !important;
}

.view-modal-light-label {
  font-size: 14px;
  position: absolute;
  top: 15px;
}

.view-modal-bold-label {
  font-size: 18px !important;
  font-weight: 700 !important;
  position: absolute;
  top: 32px;
}

.showFooter {
  width: 100% !important;
  display: contents;
}

.position-label {
  font-size: 12px !important;
  font-weight: 600 !important;
  text-align: left !important;
}

.showRow-top-line {
  border-top: 1px solid rgb(221, 220, 220) !important;
  margin-top: 10px;
}

.discription-text {
  font-size: 14px !important;
  color: #000 !important;
}

/*social icon group*/
.social-icons-group {
  position: relative;
  display: flex;
  justify-content: flex-start;
  gap: 10px;
}

.social-icons-group i {
  width: 30px;
  color: #2197d7;
  height: 30px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center !important;
  border-radius: 50%;
  background-color: #d8e8ff;
}

.chatIcon-inBotton-table {
  padding: 0px 16px !important;
  background: linear-gradient(to bottom, #f8ae58 0%, #f76729 100%);
  border: none !important;
  font-size: 25px;
  border-radius: 4px !important;
}

/* .inside-pkrv-table {
  max-height: 43vh;
  overflow: auto !important;
  overflow-x: hidden;
}

.inside-pkrv-table::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 20px;
  background-color: #ffffff;
}

.inside-pkrv-table::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background: #ccc;
  margin-left: -15px;
} */

.pkrv-search-textfield {
  height: 27px;
  width: 100%;
  font-size: 13px;
  margin-top: -12% !important;
  padding: 0px 15px !important;
}

.rejected-status {
  font-size: 11px;
  font-weight: 600;
  color: #cf5b5b !important;
}

.pending-status {
  font-size: 11px;
  font-weight: 600;
  color: #888b8e !important;
}

.quoteShowModal .ant-select-selector {
  background: #ffffff !important;
  border: 1px solid rgb(223, 222, 222) !important;
  border-radius: 3px !important;
  width: 222px !important;
  height: 27px !important;
  color: #002650 !important;
  font-weight: 600 !important;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quoteShowModal .ant-select-arrow {
  color: #002650 !important;
}

.bottom-export-div {
  background-color: white !important;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px 10px;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute !important;
  top: 62px !important;
  gap: 10px;
}

.two-table-spaces {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.txn-summary-btn {
  font-size: 14px;
  padding: 4px 16px;
  font-weight: 600;
  background: #ffe4ce !important;
  color: #304547 !important;
  border: none;
  border-radius: 2px;
}

.txn-summary-btn-outline {
  font-size: 14px;
  padding: 4px 16px;
  font-weight: 600;
  background: linear-gradient(to bottom, #f8ae58 0%, #f76729 100%) !important;
  color: rgb(255, 255, 255) !important;
  border: none;
  border-radius: 2px;
}

.outstanding-summary-btn {
  font-size: 14px;
  padding: 4px 16px;
  font-weight: 600;
  background: #ffe4ce !important;
  color: #304547 !important;
  border: none;
  border-radius: 2px;
}

.outstanding-summary-btn-outline {
  font-size: 14px;
  padding: 4px 16px;
  font-weight: 600;
  background: linear-gradient(to bottom, #f8ae58 0%, #f76729 100%) !important;
  color: rgb(255, 255, 255) !important;
  border: none;
  border-radius: 2px;
}

.txn-outstanding-btns {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
}

.openNew-Chat-dashboard {
  z-index: 1;
  position: fixed !important;
  right: 0px;
  bottom: 0px;
  cursor: pointer !important;
  height: 45vh !important;
  width: 330px;
  background-color: #f3fbff;
  border-radius: 0px;
  border: none !important;
}

.chatbox-row-bottom-dashboard {
  padding: 0px 2px !important;
  margin: 0% !important;
  background-color: #e5e8ff !important;
}

.chatBox-image-john-dashboard {
  padding: 10px;
  border-radius: 50%;
  width: 60px !important;
  height: 60px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  /* position: relative !important; */
  /* margin-bottom: 10px; */
}

.label-col-dashboard {
  border-bottom: 1px solid rgb(235, 235, 235) !important;
}

.recent-chatBox-dashboard {
  font-size: 18px;
  font-weight: 600;
  margin-top: 15px;
}

.chatBox-top-icons-dashboard {
  display: flex;
  justify-content: end;
  gap: 15px;
  margin-top: 15px;
  border-bottom: 1px solid rgb(235, 235, 235) !important;
}

.bottom-chat-box-dashboard {
  /* padding: 0px !important; */
  /* margin: 0px !important; */
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #e5e8ff !important;
}

.textfield-chatbox-dashboard {
  margin-top: -15px;
  margin-left: 12px;
  align-items: center !important;
  margin-right: 10px;
  width: 100%;
  height: 30px;
}

.btm-icons-dashboard {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 8px;
}

.ant-select.tableFilter .ant-select-selector {
  min-width: 185px !important;
  height: 28px;
  padding-right: 20px;
  height: 28px !important;
}

.ant-select.tableFilter .ant-select-selector {
  min-width: 185px !important;
  height: 28px;
}

.ant-select-arrow {
  color: #002650 !important;
  margin: 0px;
  position: absolute !important;
  top: 50% !important;
}

.ant-select-dropdown.css-dev-only-do-not-override-1wazalj.ant-select-dropdown-placement-bottomLeft {
  border-radius: 0 !important;
  padding: 0 !important;
  top: 120px !important;
  width: 185px !important;
  min-width: 185px !important;
}

:where(.css-dev-only-do-not-override-1wazalj).ant-select-dropdown .ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
  background-color: #ddd;
  color: #212529;
  border-bottom: 1px solid #81828f !important;
  font-weight: 600;
  padding: 8px 15px !important;
}

.ant-select-dropdown.ant-select-dropdown-hidden.css-dev-only-do-not-override-1wazalj.ant-select-dropdown-placement-bottomLeft {
  width: 185px !important;
  min-width: 185px !important;
}

.ant-select-item.ant-select-item-option.filter-color.ant-select-item-option-active {
  background-color: #004990;
  color: white;
}

.ant-select-item-option-content {
  font-size: 13px !important;
  font-weight: 500 !important;
}

.ant-select-item.ant-select-item-option.filter-color {
  border-bottom: 1px solid #81828f;
  border-radius: 0px !important;
}

span.ant-select-selection-item {
  font-size: 13px;
}

span.ant-select-selection-item {
  margin-top: -1px !important
}

.color-light {
  color: #888b8e;
}

.btn-primary {
  background: #5b67cd !important;
  background: -moz-linear-gradient(top, #5b67cd 0%, #2a38af 100%) !important;
  background: -webkit-linear-gradient(top, #5b67cd 0%, #2a38af 100%) !important;
  background: linear-gradient(to bottom, #5b67cd 0%, #2a38af 100%) !important;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5b67cd', endColorstr='#2a38af', GradientType=0) !important;
  border-color: #5b67cd !important;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.btn-primary.active:hover {
  background: #feac78 !important;
  background: -moz-linear-gradient(top, #feac78 0%, #e97225 100%) !important;
  background: -webkit-linear-gradient(top, #feac78 0%, #e97225 100%) !important;
  background: linear-gradient(to bottom, #feac78 0%, #e97225 100%) !important;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#feac78', endColorstr='#e97225', GradientType=0) !important;
  border-color: #feac78 !important;
}

.btn {
  border-radius: 4px !important;
  font-size: 14px;
  font-weight: 500;
  transition: all 0.3s ease-in !important;
  -webkit-transition: all 0.3s ease-in !important;
  -moz-transition: all 0.3s ease-in !important;
  -o-transition: all 0.3s ease-in !important;
  -ms-transition: all 0.3s ease-in !important;
  position: relative !important;
}

.btn:hover {
  color: var(--bs-btn-hover-color);
  background-color: var(--bs-btn-hover-bg);
  border-color: var(--bs-btn-hover-border-color);
}

.profilebtn-dropdown.dropdown button.btn.btn-primary {
  background: #fff !important;
}

.dropdown-item {
  font-size: 14px;
  font-weight: 500;
}

.dropdown-item:focus,
.dropdown-item:hover {
  color: #1e2125 !important;
  background-color: #e9ecef !important;
}

.setting-icon {
  font-size: 17px;
  font-size: 17px;
  vertical-align: middle;
  margin-right: 0.25rem !important;
}

.nav-tabs {
  --bs-nav-tabs-border-width: 1px !important;
  --bs-nav-tabs-border-color: #dee2e6 !important;
  --bs-nav-tabs-border-radius: 0.375rem !important;
  --bs-nav-tabs-link-hover-border-color: #e9ecef #e9ecef #dee2e6 !important;
  --bs-nav-tabs-link-active-color: #495057 !important;
  --bs-nav-tabs-link-active-bg: #fff !important;
  --bs-nav-tabs-link-active-border-color: #dee2e6 #dee2e6 #fff !important;
  border-bottom: var(--bs-nav-tabs-border-width) solid var(--bs-nav-tabs-border-color) !important;
}

.nav {
  --bs-nav-link-padding-x: 1rem;
  --bs-nav-link-padding-y: 0.5rem;
  --bs-nav-link-font-weight: ;
  --bs-nav-link-color: var(--bs-link-color);
  --bs-nav-link-hover-color: var(--bs-link-hover-color);
  --bs-nav-link-disabled-color: #6c757d;
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.nav-fill .nav-item .nav-link,
.nav-justified .nav-item .nav-link {
  width: 97%;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active,
.nav-pills .nav-item.show .nav-link,
.nav-pills .nav-link.active {
  border-color: transparent;
  border-radius: 2px !important;
  background: #5b67cd;
  background: -moz-linear-gradient(top, #5b67cd 0%, #2a38af 100%);
  background: -webkit-linear-gradient(top, #5b67cd 0%, #2a38af 100%);
  background: linear-gradient(to bottom, #5b67cd 0%, #2a38af 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5b67cd', endColorstr='#2a38af', GradientType=0);
  color: #ffffff;
}

.nav-pills .nav-link,
.nav-tabs .nav-link {
  font-size: 14px;
  padding: 4px 8px;
  background: #e5e8ff;
  border-radius: 3px;
  margin-right: 1px;
  color: #002650;
  font-weight: 600;
}

ul.nav.nav-tabs.nav-justified.mt-2.replace-fixed-header-on-tab-change.control-data-header {
  border-bottom: none !important
}

.nav-tabs .nav-item.show .nav-link-secondary,
.nav-tabs .nav-link-secondary.active,
.nav-pills .nav-item.show .nav-link-secondary,
.nav-pills .nav-link-secondary.active {
  border-color: transparent !important;
  border-radius: 2px !important;
  background: #feac78 !important;
  background: -moz-linear-gradient(top, #feac78 0%, #e97225 100%) !important;
  background: -webkit-linear-gradient(top, #feac78 0%, #e97225 100%) !important;
  background: linear-gradient(to bottom, #feac78 0%, #e97225 100%) !important;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#feac78', endColorstr='#e97225', GradientType=0) !important;
  color: #ffffff !important;
}

.txn-outstanding-btns.col-lg-6.col-md-6.col-sm-6 ul {
  border-bottom: none !important;
}

.nav-pills .nav-link-secondary,
.nav-tabs .nav-link-secondary {
  background: #ffe5d2;
  color: #304547;
}

.btn-secondary {
  background: #feac78 !important;
  background: -moz-linear-gradient(top, #feac78 0%, #e97225 100%) !important;
  background: -webkit-linear-gradient(top, #feac78 0%, #e97225 100%) !important;
  background: linear-gradient(to bottom, #feac78 0%, #e97225 100%) !important;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#feac78', endColorstr='#e97225', GradientType=0) !important;
  border-color: #feac78 !important;
}

.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary:active,
.btn-secondary.active,
.btn-secondary.active:hover {
  background: #5b67cd !important;
  background: -moz-linear-gradient(top, #5b67cd 0%, #2a38af 100%) !important;
  background: -webkit-linear-gradient(top, #5b67cd 0%, #2a38af 100%) !important;
  background: linear-gradient(to bottom, #5b67cd 0%, #2a38af 100%) !important;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5b67cd', endColorstr='#2a38af', GradientType=0) !important;
  border-color: #5b67cd !important;
}

.box-content-wrapper {
  padding: 0px 0px 10px 0px;
  height: 278px;
  overflow: auto;
  position: relative;
  margin-top: 10px;
}

.w-fix-35 {
  width: 35px !important;
}

.w-fix-50 {
  width: 50px !important;
}

.box-content-wrapper h4.labelTitle {
  display: none;
}

.ant-table-wrapper.inside-table th.ant-table-cell {
  padding: 4px !important;
  text-align: center !important;
}

span.ant-dropdown-trigger.ant-table-filter-trigger {
  position: absolute;
  top: 14px;
  right: 20px;
  z-index: 99999999;
  width: 16px;
}

td.ant-table-cell {
  padding: 5px !important;
  font-family: 'Montserrat', sans-serif !important;
  font-size: 11px;
  text-align: center !important;
}

button.bid-text-button.btn.btn-primary {
  background: #64c0ef !important;
  background: -moz-linear-gradient(top, #64c0ef 0%, #087f99 100%) !important;
  background: -webkit-linear-gradient(top, #64c0ef 0%, #087f99 100%) !important;
  background: linear-gradient(to bottom, #64c0ef 0%, #087f99 100%) !important;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#64c0ef', endColorstr='#087f99', GradientType=0) !important;
  color: #ffffff;
  display: inline-block;
  padding: 2px 3px !important;
  border-radius: 2px !important;
  width: 50px;
  cursor: pointer;
  font-size: 11px;
}

button.offer-text-button.btn.btn-primary {
  background: #f8ae58 !important;
  background: -moz-linear-gradient(top, #f8ae58 0%, #c64309 100%) !important;
  background: -webkit-linear-gradient(top, #f8ae58 0%, #c64309 100%) !important;
  background: linear-gradient(to bottom, #f8ae58 0%, #c64309 100%) !important;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f8ae58', endColorstr='#c64309', GradientType=0) !important;
  color: #ffffff;
  display: inline-block;
  padding: 2px 3px !important;
  border-radius: 2px !important;
  width: 50px;
  cursor: pointer;
  font-size: 11px;
}

span.ant-table-column-title {
  text-align: center !important;
}

td.ant-table-cell.ant-table-cell-ellipsis {
  text-align: center !important;
}

th.ant-table-cell {
  padding: 4px !important;
  text-align: center !important;
}

.features-table th.ant-table-cell {
  padding: 10px 5px !important;
  font-size: 11px !important;
  font-family: 'Montserrat', sans-serif !important;
}