.Reports-container {
  align-items: top !important;
  height: 350px !important;
  width: 100% !important;
  left: 260px !important;
  justify-content: center !important;
  position: fixed !important;
  box-shadow: none !important;
}

.Non_banking_Assets {
  font-size: 18px;
  color: #004990;
  font-weight: 600;
}

.Non_banking_assets_paper {
  width: 95%;
  padding: 20px 20px !important;
}

.Reports-textfield-column {
  display: flex;
  justify-content: start;
  gap: 10px;
}

.text-fields-edituser {
  font-size: 13px;
  width: 250px !important;
}

.button-download {
  font-size: 14px;
  margin-left: 10px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 8px;
  border-bottom-right-radius: 8px;
  padding: 6px 14px !important;
  border: none;
  background: linear-gradient(to bottom, #5b67cd 0%, #2a38af 100%) !important;
}

.button-download:hover {
  background: linear-gradient(to bottom, #feac78 0%, #e97225 100%) !important;
}

.btn-reset {
  font-size: 14px;
  margin-left: 10px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 8px;
  border-bottom-right-radius: 8px;
  padding: 6px 14px !important;
  border: none;
  background: linear-gradient(to bottom, #feac78 0%, #e97225 100%) !important;
}

.btn-reset:hover {
  background: linear-gradient(to bottom, #5b67cd 0%, #2a38af 100%) !important;
}

.icons-gap{
  margin-right: 10px;
}

.buttons-col{
  margin-left: -10px;
  display: flex;
  justify-content: start;

}
